body {
    font-family: "SF Pro Text", Inter, sans-serif;
    margin: auto;
    width: 50%;
    line-height: 1.5;
}

.wrapper {
    margin: 0 auto;
    box-shadow: 0 0 15px 5px rgba(200, 200, 200, 0.8);
    padding-right: 7.5%;
    padding-left: 7.5%;
    padding-top: 7.5%;
    padding-bottom: 7.5%;
}

.header-wrapper {
    text-align: center;
}
